.link {
  color: gray;
  font-size: 12px;
  font-family: "GeneralSans-Regular";
  text-decoration: none;
}
.RCard {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}
.RCardImg {
  margin-top: 15px;
  margin-bottom: 30px;
}
.RCardText {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}
.CBT {
  font-weight: 800;
}
.RCardPerson {
  margin-top: 30px;
  display: flex;
}
.RCardPersonImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}
.RCardPersonText h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
}
.RCardPersonText p {
  line-height: 1;
  font-weight: medium;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: gray;
}
.RCardVideo {
  display: block;
  max-width: 312px;
  margin-bottom: 15px;
  border-radius: 14px;
}
