.projectContainer {
  width: 60vw;
  border-radius: 10px;
  margin: auto;
  background-color: white;
}
.projectContainer .Row {
  margin-bottom: 20px;
}
.projectContainer .Row:last-of-type {
  margin-bottom: 0px;
}
.projectMainContainer {
  margin-top: -30px;
}
.projectMainContainer h2 {
  font-family: "GeneralSans-SemiBold";
  font-size: 40px;
}
