.NavbarGITBtn {
  background-color: #012138;
  font-family: "inter", sans-serif;
  font-size: 18px;
  transition: all 0.2s;
  font-weight: 400;
  padding: 10px 25px;
  border: 0;
}
.NavbarGITBtn:hover,
.NavbarGITBtn:active,
.NavbarGITBtn:focus {
  background-color: #033e67 !important;
}
