@media screen and (min-width: 2170px) {
  .projectContainer {
    width: 100% !important;
  }
  .RCardVideo {
    max-width: 500px !important;
    height: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .ReviewContainer {
    width: 85% !important;
  }
  .SubscriptionTitle {
    width: 70% !important;
  }
  .servicesContainer img {
    width: 100%;
  }
  .HeroStack h1 {
    font-size: 50px !important;
  }
  .HeroStack h4 {
    font-size: 28px !important;
  }
  .servicesContainer h3 {
    font-size: 16px !important;
  }
  .aboutUsHeading {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 950px) {
  .aboutUsHeading {
    font-size: 35px !important;
  }
  .whoWeAreHeadingContainer p,
  .whatDrivesUsHeadingContainer p {
    font-size: 30px !important;
  }
  .servicesContainer h3 {
    font-size: 12px !important;
  }
  .HeroStack h1 {
    font-size: 42px !important;
  }
  .HeroStack h4 {
    font-size: 24px !important;
  }
  .schedule-form {
    flex-direction: column !important;
  }
  .react-datepicker {
    width: 100%;
    margin-top: 40px;
  }
  .schedule-call-inputContainer {
    margin-right: 0 !important;
  }
  .datePicker {
    width: 100%;
  }
  .react-datepicker__month-container {
    width: 100%;
  }
  .WhyShouldTitle {
    max-width: 65% !important;
  }
  .projectContainer {
    width: 80vw !important;
  }
  .SubscriptionTitle {
    max-width: 80% !important;
    font-size: 35px !important;
  }
  .SubscriptionText {
    max-width: 40% !important;
  }
}
@media screen and (max-width: 770px) {
  .aboutUsHeading {
    font-size: 38px !important;
  }
  .whoWeAreTextContainer p,
  .whatDrivesUsTextContainer p {
    font-size: 16px !important;
  }
  .subscriptionCardContainer .row {
    margin: 0 !important;
    flex-direction: column !important;
  }
  .subscriptionCardContainer {
    display: flex !important;
  }

  .subscription2ndContainer .subscriptionCard {
    border-bottom: 1px solid #e3e3e3 !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
  }
  .subscriptionCard:last-of-type {
    border-right: 1px solid #e3e3e3 !important;
  }
  .subscriptionCard {
    margin-left: 0 !important;
  }
  .SubscriptionTitle {
    max-width: 100% !important;
    font-size: 30px !important;
  }
  .SubscriptionText {
    max-width: 50% !important;
  }
  .projectContainer {
    width: 100% !important;
  }
  .footerContentContainer p {
    font-size: 40px !important;
  }
  .footerMailContainer {
    display: flex;
    justify-content: center;
    /* flex-direction: column !important; */
  }
  .footerMailContainer input {
    width: inherit !important;
    font-size: 14px !important;
  }
  .footerMailContainer button {
    padding: 16px 20px !important;
    font-size: 14px !important;
  }
  .HeroStack h1 {
    font-size: 32px !important;
  }
  .HeroStack button {
    font-size: 14px !important;
  }
  .HeroStack img {
    width: 100%;
  }
  .HeroStack h4 {
    font-size: 20px !important;
  }
  .schedule-call-inputContainer {
    width: 100% !important;
  }
  .schedule-call-container p {
    width: 100% !important;
  }
  .ReviewContainer {
    flex-direction: column !important;
  }
  .ReviewImg {
    width: 60% !important;
  }
  .WhyShouldCardContainer .row {
    flex-direction: column !important;
    /* margin-right: 20px; */
  }
  .WhyShouldContainer.container {
    max-width: 90% !important;
  }
  .WhyShouldCardContainer {
    display: flex;
    justify-content: center;
  }
  .WhyShouldCard {
    margin: 0 !important;
    position: relative;
    border: none !important;
    border-right: 1px solid #606060 !important;
    margin-right: 20px !important;
    padding-right: 0 !important;
  }
  .WhyShould2ndContainer .WhyShouldCard {
    border-right: none !important;
    margin-right: 0 !important;
    margin-left: 20px !important;
  }
  .WhyShould2ndContainer {
    margin-right: 0 !important;
  }
  .WhyShouldCard h3 {
    font-size: 16px !important;
  }
  .WhyShouldCard p {
    font-size: 14px !important;
    width: calc(100% - 20px);
  }
  .WhyShouldText {
    max-width: 100% !important;
  }
  .WhyShouldTitle {
    max-width: 85% !important;
  }
  .servicesContainer {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .servicesContainer h3 {
    font-size: 10px !important;
    margin: 8px 0 !important;
  }
  .subscription2ndContainer .subscriptionCard {
    margin-top: 0 !important;
  }
  .subscriptionCard {
    margin-top: 0 !important;
  }
  .selectContainer select {
    padding: 10px 0 !important;
  }
  .selectContainer span {
    padding: 10px 0 !important;
  }
  .time-selection .selectContainer {
    width: 39% !important;
  }
  .time-selection .amPm {
    width: 22% !important;
  }
}

@media screen and (max-width: 550px) {
  .aboutUsHeading {
    font-size: 34px !important;
  }
  .servicesContainer .col:first-of-type {
    border-top: 0px solid #606060;
    padding-top: 0px !important;
  }
  .projectContainer {
    width: 80% !important;
  }
  .projectContainer .Row {
    flex-direction: column !important;
  }
  .projectContainer .Row:last-of-type {
    display: none;
  }
  .servicesContainer .col {
    border-top: 1px solid #606060;
    padding-top: 30px !important;
  }
  .servicesContainer {
    flex-direction: column !important;
  }
  .servicesContainer h3 {
    font-size: 15px !important;
    margin: 20px 0 !important;
  }
  .HeroStack {
    width: 90vw !important;
  }
  .projectMainContainer h2 {
    font-size: 36px !important;
  }
  .project_name {
    font-size: 14px !important;
  }
  .SubscriptionTitle {
    width: 100% !important;
  }
  .SubscriptionText {
    max-width: 80% !important;
  }
  .trustedText {
    font-size: 10px !important;
    margin-bottom: 5px !important;
  }
  .stars {
    margin: 2px 0 !important;
  }
  .stars img {
    width: 15px !important;
  }
}

@media screen and (max-width: 475px) {
  .aboutUsHeading {
    font-size: 32px !important;
  }
  .footerContentContainer p {
    font-size: 32px !important;
  }
  .footerMailContainer input {
    padding: 12px 20px !important;
  }
  .footerMailContainer {
    margin-top: 20px;
  }
  .footerMailContainer button {
    padding: 12px 20px !important;
  }
  .HeroStack h1 {
    font-size: 28px !important;
  }
  .HeroStack h4 {
    font-size: 16px !important;
  }
  .HeroStack button {
    font-size: 12px !important;
  }
  .schedule-call-container .schedule-call-heading {
    font-size: 34px !important;
  }
  .schedule-call-container p {
    font-size: 16px !important;
  }
  .whoWeAreContainer {
    padding: 20px !important;
  }
  .whatDrivesUsContainer {
    padding: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .whoWeAreHeadingContainer p,
  .whatDrivesUsHeadingContainer p {
    font-size: 24px !important;
  }
  .WWAicon {
    width: 20px !important;
  }
  .aboutUsHeading {
    font-size: 24px !important;
  }
  .HeroStack {
    gap: 0.5rem !important;
  }
  .HeroStack h1 {
    font-size: 24px !important;
  }
  .HeroStack h4 {
    font-size: 14px !important;
  }
  .projectMainContainer h2 {
    font-size: 28px !important;
  }
  .SubscriptionTitle {
    font-size: 24px !important;
  }
  .subscriptionCard p {
    font-size: 14px !important;
  }
  .WhyShouldCard p {
    font-size: 12px !important;
  }
  .WhyShouldCard .bigText,
  .subscriptionCard .bigText {
    font-size: 20px !important;
  }
  .subscriptionCard img {
    width: 44px;
    height: 44px;
  }
  .ServicesTitle {
    font-size: 28px !important;
  }
  .schedule-call-container .schedule-call-heading {
    font-size: 26px !important;
  }
  .schedule-call-container p {
    font-size: 14px !important;
  }
  .WhyShouldTitle {
    font-size: 24px !important;
  }
  .footerContentContainer p {
    font-size: 24px !important;
  }
  .footerMailContainer input {
    padding: 12px 13px !important;
  }
  .footerMailContainer button {
    padding: 12px 13px !important;
  }
}

@media screen and (max-width: 340px) {
  .aboutUsHeading {
    font-size: 20px !important;
  }
  .projectContainer {
    width: 90% !important;
  }
  .HeroStack h1 {
    font-size: 20px !important;
  }
  .HeroStack h4 {
    font-size: 11px !important;
  }
  .HeroStack button {
    padding: 5px 15px;
    /* font-size: 8px !important; */
  }
  .trusted {
    font-size: 12px !important;
  }
  .subscriptionCard {
    margin-top: 0px !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
  }
  .footerMailContainer button,
  .footerMailContainer input {
    font-size: 10px !important;
  }
}
